<footer>
    <div class="top">
        <div class="top-left">
            <h1>Never miss a drop.</h1>
            <h2>Sign up to be the first to know about exclusive new deals, product launches and more.</h2>
        </div>
        <div class="top-right">
            <input type="text" placeholder="Enter your email address" class="email">
            <span>Sign up</span>
        </div>
    </div>
    <div class="bottom">
        <div class="espro">
            <img src="../../assets/ESPRO_Homepage/white espro logo.svg" alt="">
            <h3>We're here to help.<br>service&#64;espro.com<br>1.844.377.7622</h3>
        </div>
        <div class="links-container">
            <div class="links">
                <h1>Learn</h1>
                <a href="#" class="link">Blog</a>
                <a href="#" class="link">Our Story</a>
                <a href="#" class="link">Brew Guides</a>
                <a href="#" class="link">Retailers</a>
            </div>
            <div class="links">
                <h1>Support</h1>
                <a href="#" class="link">FAQ</a>
                <a href="#" class="link">Shipping & Returns</a>
                <a href="#" class="link">Our Guarantee</a>
            </div>
            <div class="links">
                <h1>Company</h1>
                <a href="#" class="link">Contact</a>
                <a href="#" class="link">Join Us</a>
                <a href="#" class="link">Press</a>
            </div>
        </div>
        <div class="socials">
            <h1>Connect with us</h1>
            <div class="buttons-container">
                <button><img src="../../assets/ESPRO_Homepage/facebook.svg" alt=""></button>
                <button><img src="../../assets/ESPRO_Homepage/instagram.svg" alt=""></button>
                <button><img src="../../assets/ESPRO_Homepage/twitter.svg" alt=""></button>
            </div>
        </div>
    </div>
    <div class="legal">
        <div class="copyright">Copyright © 2021 Espro Inc.</div>
        <div class="right">
            <h2>Terms & Privacy</h2>
            <h2>Patents</h2>
        </div>
    </div>
</footer>