<section id="brew-any">
    <h1>BREW ANYWHERE. BE ANYWHERE.</h1>
    <h2>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo.</h2>
    <button>POUR ON THE GO</button>
    <span>EXPLORE</span>
</section>
<section id="best-sellers">
  <h2>Pour your best cup with</h2>
  <h1>Our best sellers</h1>
  <div class="carousel">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let slide of slides">
        <app-best-seller-slide-component [data]="slide"></app-best-seller-slide-component>
      </ng-template>
    </owl-carousel-o> 
  </div>
</section>
<section id="coffee-go">
    <div class="left"></div>
    <div class="right"></div>
    <div class="center">
        <h3>DESIGNED FOR REAL LIFE</h3>
        <h2>COFFEE MADE FOR YOUR LIFE ON THE GO.</h2>
        <p>We understand coffee is a big part of your busy, active life. That’s why we create and develop products that allow you to bring your passion for coffee-<b>when you want it</b>- and wherever life takes you.</p>
    </div>
</section>
<section id="explore-products">
    <div class="title">EXPLORE OUR PRODUCTS</div>
    <div class="cards">
        <div class="card french-press">
            <div class="overlay"></div>
            <div class="subject">FRENCH PRESS</div>
        </div>
        <div class="card pour-over">
            <div class="overlay"></div>
            <div class="subject">POUR OVER</div>
        </div>
        <div class="card cold-brew">
            <div class="overlay"></div>
            <div class="subject">COLD BREW</div>
        </div>
    </div>
    <button>SHOW ALL PRODUCTS</button>
</section>
<section id="make-every">
    <div class="left">
        <h2>MAKE EVERY CUP AN EXPERIENCE.</h2>
        <p>Have your French pressed coffee anywhere with ESPRO’s Travel Press. A double micro-filter eliminates grit for your smoothest cup on the go, and the mug fits right in a car cup holder or bike’s water bottle cage.</p>
        <div class="button-container">    
            <button>SHOP TRAVEL PRESS</button>
        </div>
        <div class="line">
        </div>
    </div>
    <div class="right">
        <div class="photo"></div>
        <h1>PRESS. SIP. ENJOY.</h1>
    </div>
</section>
<section id="press"></section>
<section id="fresh-grounds"></section>
<section id="coffe-to-water"></section>
<section id="instagram"></section>
<section id="footer"></section>