<header>
    <nav class="navbar" [class.sticky]="isSticky">
      <div class="nav-left">
        <div class="nav-link"><a href="">SHOP</a><img src="/src/assets/ESPRO_Homepage/ESPRO_Logo.svg" alt=""></div>
        <div class="nav-link"><a href="">OUR STORY</a><span class="arrow-down"></span></div>
      </div>
      <div class="nav-center">
        <a href="/" class="logo"></a>
      </div>
      <div class="nav-right">
        <a class="nav-icon" href="#"><i class="fas fa-book"></i></a>
        <a class="nav-icon" href="#"><i class="fas fa-blog"></i></a>
       <!-- Icons for account and cart -->
        <a class="nav-icon" href="#"><i class="fas fa-user"></i></a>
        <a class="nav-icon" href="#"><i class="fas fa-shopping-cart"></i></a>
      </div>
    </nav>
  </header>