
  
  .blue-bar {
    text-align: center;
    background: #8DB9CA 0% 0% no-repeat padding-box;
    color: white;
    padding: 14px 0 12px;
    font-size: 14px;
    font: normal normal bold 11px/13px Josefin Sans;
    letter-spacing: 1.65px;
    color: #FFFFFF;
    text-transform: uppercase;
  }