@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Josefin+Sans:wght@400;700&family=Nunito:wght@400;700&display=swap');
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  
  body {
    line-height: 1;
    font-size: 100%;
    font-family: Arial, sans-serif;
  }
  
  ol, ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  input, button, textarea, select {
    font: inherit;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
  }

